<div class="banner" id="sutro">
  <h1>who I am</h1>
</div>
<div class="content">
  <h2>Inquisitive</h2>
  <p>
    I'm a native of Salt Lake City and a recent transplant to San Francisco. I guess you could say that I love technology. Whether it's going to local tech meetups, conferences, or following the greatests minds on Twitter, I like to keep up on the up the latest gadgets, software and ideas.
  </p>
  <p>
    Ever since I can remember I've been pulling things apart to figure out how they work and then trying (sometimes unsuccesfully) to put them back together. The advent of YouTube and Google opened up an amazing world of knowledge for me. With the help up searching the internet and watching how-to videos I felt I could do anything! Replace the radiator in my jeep? check. Put together the perfect home theatre setup? check. Build a computer? check. Find that last Gold Skultula on Zelda, Ocarina of Time? check.
  </p>
  <p>
    I started learning HTML and CSS online through free tutorials and practiced my first simple websites while working the night shift. I immediately fell in love and knew this was something I wanted to pursue. I had the previlage of attending a full-time, eleven week, full-stack, web development boot camp in Salt Lake City. Hands-down this was one of the most rewarding experiences of my life. Never have I worked so hard, been so mentally fatigued, or felt so incredibly accomplished. I could write a novel on this experience alone, but will save it for another time. Needless to say, I love learning new things and I'm always excited for more.
  </p>
  <div class="pic-row">
    <img src="images/lw-devpoint1.jpg" alt="Landon at DevPoint Labs" />
    <img src="images/lw-fan.jpg" alt="Landon West" />
    <img src="images/lw-devpoint2.jpg" alt="Landon at DevPoint Labs" />
    <img src="images/lw-glasses.jpg" alt="Landon with glasses" /><br>
  </div>
  <h2>Creative</h2>
  <p>
    I have a strong creative side about me. I'm passionate about music, art and photography. I remember our first family pc with a built-in 4x6 photo scanner, and that thing was magic! I learned how to use Photoshop and made a stunning picture of me and Brittany Spears chillin'. In high school I designed and printed t-shirts custom to people's individual interests. I was also the lead singer and guitar player in a punk band, and we weren't half bad according to my mom!
  </p>
  <p>
    I like to explore the Bay Area and take in all the amazing scenery from the towering skyscrapers to the glistening, blue bay. I'm a big fan of old architecture and anything with history and character. I love being a short drive from the city, the ocean, and the mountains and getting the perfect photograph while I'm there.
  </p>
  <div class="pic-row">
    <img class="about-img" src="images/lw-wedding.jpg" alt="Landon's wedding" />
    <img class="about-img" src="images/lw-warriors.jpg" alt="Landon at Warriors parade" />
    <img class="about-img" src="images/lw-cruise.jpg" alt="Landon on cruise ship" />
    <img class="about-img" src="images/lw-mexico.jpg" alt="Landon in Mexico" />
  </div>
</div>
