<section class="full-pg" id="contact">
  <div class="content">
    <h2 class="form-header">Contact</h2>
    <form action="/layout" method="post">
      <input type="text"  name="name"    placeholder="*Full Name" required >
      <input type="email" name="email"   placeholder="*Email"     required >
      <input type="text"  name="twitter" placeholder="@Twitter?" >
      <textarea           name="message" placeholder="*Message" rows="8" cols="30" required ></textarea><br>
      <!-- <input type="submit" value="Submit"> -->
      <button type="submit">Submit</button>
    </form>
  </div>
</section>

<!-- contact form success notification -->
<script type="text/javascript">
  if (top.location.pathname === '/success') {
    $(".headline").before("<span class='notify'><%= @email_success %></span>");
  }
  setTimeout(function() {
    $('.notify').fadeOut('slow');
  }, 3500);
</script>
