<div id="train">
  <div class="content">
    <h1>Contact Me</h1>
    <p class="contact-info">
      I'm open to new opportunities, colaboration, and comments. Drop me a line or find me on social media.
        <span>
          <a href="https://github.com/LandonWest" title="github" target="_blank"><i class="fa fa-github fa-1x"></i></a>&nbsp
          <a href="http://codepen.io/Lando726/" title="codepen" target="_blank"><i class="fa fa-codepen fa-2x"></i></a>&nbsp
          <a href="https://twitter.com/Lando726" title="twitter" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>&nbsp
          <a href="https://www.linkedin.com/in/landonwest" title="linkedin" target="_blank"><i class="fa fa-linkedin fa-1x"></i></a>
        </span>
    </p>
    <form class="form" action="/contact" method="post" autocomplete="nope">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Chuck Norris" required>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="chuck@roundhouse.com" required>
      <label for="message">Message</label>
      <textarea id="message" name="message"rows="8" cols="40" placeholder="Dear Landon, I could use skills like yours. Let's talk." required></textarea>
      <input type="submit" value="Send">
    </form>
  </div>
</div>
