<div class="fail-page">
  <h1>Oops! There was an error.</h1>
  <h2>
    Please try again later or contact me at landonewest [at] gmail.com</h1>
  </h2>
  <img src="images/fail.jpg" alt="fail?" />
  <p><small><%= @exception %>...</small></p>
  <p><small><%= @params %></small></p>
</div>
