<section class="full-pg" id="home">
  <div class="content" id="banner">
    <h1 class="headline">Landon Eric West</h1>
    <h2 class="sub-headline">Making awesome websites that look great and make me happy</h2>
    <a href="#about" class="scroll-arrow" id="headline-arrow">
      <i class="fa fa-caret-down fa-3x"></i>
    </a>
  </div>
  <!-- refactor the nav into a partial & load it here and any other pages you add-->
  <nav>
    <ul>
      <li><a href="#home" id="home-link">home</a></li>
      <li><a href="#about" id="about-link">about</a></li>
      <li><a href="#projects" id="projects-link">projects</a></li>
      <li><a href="#contact" id="contact-link">contact</a></li>
    </ul>
  </nav>
</section>

<%= erb :about %>
<%= erb :projects %>
<%= erb :contact %>
<%= erb :outro %>
