<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landon E. West</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/"><i class="fa fa-home"></i></a>
          </li>
          <li>
            <a href="/about">About</a></li>
          <li>
            <a href="#">Projects</a>
          </li>
          <li>
            <a href="/resume">Resume</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <nav>
        <ul>
          <li>
            <a href="/"><i class="fa fa-home"></i></a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="#">Projects</a>
          </li>
          <li>
            <a href="/resume">Resume</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/LandonWest" target="_blank"><i class="fa fa-github fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/landonwest" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/Lando726" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
