<section class="full-pg" id="projects">
  <div class="content clearfix">
    <h1>Projects</h1>

    <p>
      PatchaTech was conceived as a capstone project by myself and two other students of DevPoint Labs. The idea was simple: create a website that fills the need for free, peer-submitted and reviewed tutorials that tackle common issues with today's modern devices. By making PatchaTech your go-to site for gaining new knowledge and skills, you'll end up saving a fistful of dollars (and more than a few headaches!) fixing your devices yourself.
    </p>

    <figure class="project-tile">
      <img src="" alt="Ron Swanson Quote Generator" />
      <figcaption>Ron Swanson Quote Generator</figcaption>
    </figure>

    <figure class="project-tile">
      <img src="" alt="PatchaTech" />
      <figcaption><a href="/projects#patchatech"><span>PatchaTech - August 2014</span></a>PatchaTech</figcaption>
    </figure>

    <figure class="project-tile">
      <img src="" alt="Current Weather" />
      <figcaption>Current Weather</figcaption>
    </figure>

    <figure class="project-tile">
      <img src="" alt="Work In Progress..." />
      <figcaption>More to come...</figcaption>
    </figure>
  </div>
</section>
