<div class="content">
  <h1>Projects</h1>
  <div id="patchatech">
    <h2>patchaTech</h2>
    <p><a href="http://www.patchatech.com" target="_blank">www.patchatech.com</a></p>
    <p>
      PatchaTech was conceived as a capstone project by myself and two other students of DevPoint Labs. The idea was simple: create a website that fills the need for free, peer-submitted and reviewed tutorials that tackle common issues with today's modern devices. By making PatchaTech your go to site for gaining new knowledge and skills, you'll end up saving a fistful of dollars (and more than a few headaches!) fixing your devices yourself.
    </p>
    <ul>
      <li>built and deployed live in one month</li>
      <li>team collaboration over github</li>
      <li>responsive</li>
    </ul>
    <ul class="inline-list pt-orange">
      <li>Ruby</li>
      <li>Rails</li>
      <li>HTML5 / CSS3</li>
      <li>postgreSQL</li>
      <li>Foundation</li>
      <li>Devise</li>
      <li>ElasticSearch</li>
      <li>CarrierWave</li>
      <li>Heroku</li>
      <li>AWS</li>
    </ul>
    <img src="images/patchatech1.png" alt="patchaTech website on macbook and iphone" />
  </div>
</div>
