<div class="content">
  <div class="resume">
    <div class="resume-head">
      <h1 class="centered">Landon Eric West</h1>
      <p>
        <a href="https://github.com/LandonWest" target="-_blank">github.com/LandonWest</a><br>
        <a href="https://www.linkedin.com/in/landonwest" target="-_blank">linkedin.com/in/LandonWest</a><br>
        <a href="https://twitter.com/Lando726" target="-_blank">twitter.com/Lando726</a>
      </p>
      <p class="right">
        San Francisco, California<br>
        LandonWest5 [at] gmail.com<br>
        <a href="/">landonericwest.com</a>
      </p>
    </div>
    <h2>Education</h2>
    <ul>
      <li>
        <p>DevPoint Labs, Salt Lake City, UT <span class="right">May 2014 - Aug 2014</span></p>
        <ul class="inner-ul">
          <li>11 week, immersive web development boot camp</li>
          <li>Skills: Ruby, Rails, Javascript, jQuery, HTML5, CSS3, PostgreSQL, Foundation, RSpec, Git version control</li>
          <li>Learned how to collaborate with a team to develop and deploy live web apps</li>
        </ul>
      </li>
      <li>
        <p>University of Utah, Salt Lake City, UT <span class="right">Aug 2008 - Dec 2011</span></p>
        <ul class="inner-ul">
          <li>Bachelor of Arts, Middle East Studies: Persian; Minor in Political Science</li>
          <li>Co-founder of University of Utah Persian Club</li>
        </ul>
      </li>
    </ul>
    <h2>Certifications</h2>
    <ul>
      <li>
        <p>CompTia A+ <span class="right">Feb 2014 - Feb 2017</span></p>
        <ul class="inner-ul">
          <li>Maintenance of PCs, mobile devices, laptops, operating systems, and printers</li>
        </ul>
      </li>
    </ul>
    <h2>Experience</h2>
    <ul>
      <li>
        <p>Operations Specialist, Urbio <span class="right">Feb 2015 - Present</span></p>
      </li>
      <li>
        <p>Operations Intern, Urbio <span class="right">Nov 2014 - Feb 2015</span></p>
      </li>
      <li>
        <p>Security Officer, Hollywood Presbyterian Medical Center <span class="right">Oct 2013 - May 2014</span></p>
      </li>
      <li>
        <p>Front Desk Coordinator (Contract), Edmunds.com <span class="right">Aug 2013 - Sep 2013</span></p>
      </li>
      <li>
        <p>Security Guard, Contemporary Services Corporation <span class="right">May 2013 - Oct 2013</span></p>
      </li>
      <li>
        <p>Technician Assistant, Hill-Rom <span class="right">Feb 2012 - Feb 2013</span></p>
      </li>
      <li>
        <p>Creative Assistant, Bubble & Bee Organic <span class="right">Nov 2010 - Dec 2011</span></p>
      </li>
      <li>
        <p>Office & Print Center Specialist, OfficeMax <span class="right">Mar 2009 - Dec 2010</span></p>
      </li>
    </ul>
  </div>
</div>
