<div class="content">
  <div class="resume">
    <div class="resume-head">
      <h1 class="centered">Landon Eric West</h1>
      <p>
        <a href="https://github.com/LandonWest" target="-_blank">github.com/LandonWest</a><br>
        <a href="https://www.linkedin.com/in/landonwest" target="-_blank">linkedin.com/in/LandonWest</a><br>
        <a href="https://twitter.com/Lando726" target="-_blank">twitter.com/Lando726</a>
      </p>
      <p class="right">
        San Francisco, California<br>
        LandonWest5 [at] gmail.com<br>
        <a href="/">landonericwest.com</a>
      </p>
    </div>
    <h2>Education</h2>
    <ul>
      <li>
        <p>DevPoint Labs, Salt Lake City, UT <span class="right">May 2014 - Aug 2014</span></p>
        <ul class="inner-ul">
          <li>11-week, immersive, web development boot camp</li>
          <li>Skills: Ruby, Rails, Javascript, jQuery, HTML5, CSS3, PostgreSQL, Foundation, RSpec, Git version control</li>
          <li>Learned how to collaborate with a team to develop and deploy live web apps</li>
        </ul>
      </li>
      <li>
        <p>University of Utah, Salt Lake City, UT <span class="right">Aug 2008 - Dec 2011</span></p>
        <ul class="inner-ul">
          <li>Bachelor of Arts, Middle East Studies: Persian; Minor in Political Science</li>
          <li>Co-founder of University of Utah Persian Club</li>
        </ul>
      </li>
    </ul>
    <h2>Certifications</h2>
    <ul>
      <li>
        <p>CompTia A+ <span class="right">Feb 2014 - Feb 2017</span></p>
        <ul class="inner-ul">
          <li>Maintenance of PCs, mobile devices, laptops, operating systems, and printers</li>
        </ul>
      </li>
    </ul>
    <h2>Experience</h2>
    <div id="accordion">
      <h3>Operations Specialist, Urbio <span class="right">Feb 2015 - Present</span></h3>
      <div>
        <ul>
          <li>Manage weekly retailer purchase orders and invoicing via EDI and coordination with multiple 3PLs.</li>
          <li>Coordinate inbound, international freight using freight forwarders.</li>
          <li>Submit factoring schedules and supporting documentation (purchase orders, invoices, bill of ladings).</li>
          <li>Maintain and update website content on the Shopify platform using HTML and CSS.</li>
          <li>Assist employees with installation and troubleshooting of office technology such as networking, backups, VMs, and software.</li>
        </ul>
      </div>
      <h3>Operations Intern, Urbio <span class="right">Nov 2014 - Feb 2015</span></h3>
      <div>
        <ul>
          <li>-Full-time, paid internship at a Shark Tank-featured startup assisting the VP of Operations with all aspects of day-to-day operations.</li>
        </ul>
      </div>
      <h3>Security Officer, Hollywood Presbyterian Medical Center <span class="right">Oct 2013 - May 2014</span></h3>
      <div>
        <ul>
          <li>Assisted visitors, patients, and staff while enforcing hospital policies.</li>
          <li>Received HSS Pride Award for quick action in preventing a patient suicide attempt.</li>
        </ul>
      </div>
      <h3>Workplace Experience Team Member (Contract), Edmunds.com <span class="right">Aug 2013 - Sep 2013</span></h3>
      <div>
        <ul>
          <li>Maintained employee work experience through support of front reception desk, office services, catering, and designing event signage using Adobe Photoshop.</li>
        </ul>
      </div>
      <h3>Event Staff & Security, Contemporary Services Corporation <span class="right">May 2013 - Oct 2013</span></h3>
      <div>
        <ul>
          <li>Provided customer service and security to patrons of events throughout the Los Angeles area.</li>
        </ul>
      </div>
      <h3>Technician Assistant, Hill-Rom <span class="right">Feb 2012 - Feb 2013</span></h3>
      <div>
        <ul>
          <li>Assisted in repairing and maintaining specialty hospital beds and equipment.</li>
        </ul>
      </div>
      <h3>Creative Operations Associate, Bubble & Bee Organic <span class="right">Nov 2010 - Dec 2011</span></h3>
      <div>
        <ul>
          <li>Worked closely with co-owner in all creative elements of the business, including using Adobe Photoshop to design product labels and retail packaging and build retail displays.</li>
          <li>Worked with clients to design customer-specific product labeling. </li>
          <li>Provided construction labor and design insight for custom build-out of new production facility.</li>
        </ul>
      </div>
      <h3>Office & Print Center Specialist, OfficeMax <span class="right">Mar 2009 - Dec 2010</span></h3>
      <div>
        <ul>
          <li>Designed and printed customer orders, including business cards, flyers, posters, and invoices, utilizing computer programs such as Adobe Photoshop and Illustrator, Microsoft Word, and Excel.</li>
          <li>Operated miscellaneous office equipment including over-sized printers, binding and copy machines.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $( "#accordion" ).accordion({
    collapsible: true,
    active: false
  });
</script>
