/* Main CSS */
html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, san-serif;
}
h1  {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: normal;
  padding: 1em 0;
}
h2 {
  margin-bottom: 1em;
  color: grey;
}
p {
  margin-bottom: 1em;
  line-height: 1.5;
  text-align: left;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.inner-ul {
  padding: 0 0 2em 2em;
  list-style: circle;
  line-height: 1.5;
}
.centered {
  text-align: center;
}
.right {
  float: right;
}
.notify {
  position: absolute;
  background-color: rgba(96,136,188,0.7);
  color: #fff;
  padding: 20px;
  left: 40%;
  font-weight: bold;
}
.inline-list li {
  display: inline;
  padding-right: 1em;
}
#patchatech ul {
  list-style: inside disc;
  margin-bottom: 2em;
}
#patchatech img {
  padding: 1em;
}
.pt-orange {
  color: #FC9858;
}
header ul {
  float: right;
  padding: 5;
  color: #DBDEE3;
}
header ul:last-child {
  padding-right: 2.5em;
}
header a:hover, footer a:hover {
  color: white;
}
.banner {
  height: 560px;
  margin-bottom: 2em;
}
#alcatraz {
  background: #728E92 url("../images/alcatraz-medium.jpg");
}
.headline h1 {
  display: inline-block;
  padding: 3% 3.5% 0 3.5%;
  font-size: 6em;
  font-weight: bold;
  color: #ffffff;
}
.headline p {
  display: inline-block;
  padding: 1.8% 2% 0 15%;
  font-size: 2em;
  font-weight: 200;
  color: #ffffff;
}
#sutro {
  background: #447FBB url("../images/sutro-medium.jpg");
}
#sutro h1 {
  display: inline;
  float: right;
  margin-top: 3em;
  margin-right: -1em;
  font-size: 6em;
  color: white;
}
#train {
  height: 948px;
  background: #8D8F84 url("../images/train-medium.jpg") no-repeat;
}
#train h1 {
  display: inline-block;
  color: white;
  font-size: 4.5em;
}
#train a:hover {
  color: #808080;
}
.content {
  max-width: 70%;
  margin: 0 auto 3em auto;
  padding-top: 1.5em;
}
.content a {
  text-decoration: underline;
}
.content a:hover {
  color: grey;
}
.resume {
  padding: 1em 0 3em 0;
}
.resume-head {
  height: 15em;
  padding-bottom: 5em;
}
.resume-head h1 {
  margin-bottom: 1.2em;
}
.resume-head p {
  display: inline-block;
}
.pic-row {
  max-width: 942px;
  padding-bottom: 1em;
}
.pic-row img {
  width: 200px;
  padding: 4px 12px 4px 0;
  border-radius: 9%;
}
.contact-info {
  color: white;
  width: 450px;
}
.contact-info span {
  margin-left: 10px;
}
.form {
  width: 440px;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
textarea {
  display: block;
  margin-bottom: 10px;
  padding: 3px 6px;
  width: 430px;
  font-size: 1em;
}
label {
  display: block;
  margin-bottom: 4px;
  color: #ffffff;
}
input, textarea {
  display: block;
  padding: 0.3em 0.3em;
  margin-bottom: 15px;
  font-size: 1em;
  border: none;
}
input[type=text] {
  width: 430px;
}
input[type=email] {
  width: 430px;
}
input[type=submit] {
  background-color: #808080;
  color: white;
  width: 120px;
  float: right;
  cursor: pointer;
  transition: 0.5s, background-color;
}
input[type=submit]:hover {
  background-color: #61656B;
}

footer {
  background: #5780C0 url("../images/concrete_wall.png");
  height: 8em;
  text-align: center;
  padding-top: 2em;
  color: #DBDEE3;
}
footer ul {
  padding-bottom: 1em;
}
