/* Main CSS */
html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, san-serif;
}
h1  {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: normal;
}
h2 {
  margin-bottom: 1em;
  color: grey;
}
p {
  margin-bottom: 1em;
  line-height: 1.5;
  text-align: left;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.inner-ul {
  padding: 0 0 2em 2em;
  list-style: circle;
  line-height: 1.5;
}
.centered {
  text-align: center;
}
.right {
  float: right;
}
header ul {
  float: right;
  padding: 5;
  color: #DBDEE3;
}
header ul li, footer ul li {
  display: inline;
  padding-right: 1em;
}
header ul:last-child {
  padding-right: 2.5em;
}
header a:hover, footer a:hover {
  color: white;
}
.banner {
  height: 560px;
  background: #728E92 url("../images/Alcatraz.jpg");
  margin-bottom: 3em;
}
.headline h1 {
  display: inline-block;
  padding: 3% 3.5% 0 3.5%;
  font-size: 6em;
  font-weight: bold;
  color: #ffffff;
}
.headline p {
  display: inline-block;
  padding: 1.8% 2% 0 15%;
  font-size: 2em;
  font-weight: 200;
  color: #ffffff;
}
.content {
  max-width: 70%;
  margin: 0 auto 3em auto;
}
.content a {
  text-decoration: underline;
}
.content a:hover {
  color: grey;
}
.resume {
  padding: 5em 0 3em 0;
}
.resume-head {
  height: 15em;
}
.resume-head h1 {
  margin-bottom: 1.2em;
}
.resume-head p {
  display: inline-block;
}
footer {
  background: #5780C0 url("../images/concrete_wall.png");
  height: 8em;
  text-align: center;
  padding-top: 2em;
  color: #DBDEE3;
}
footer ul {
  padding-bottom: 1em;
}
